ul.microposts {
	padding: 0;

	li {
		list-style-type: none;
		padding: 8px 0;
	}
}

.stats {
	margin-top: 32px;
	
}

.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.avatar{
	margin-top: 16px;
}

ul.users {
	list-style: none;
	padding: 0;

	li {
		padding: 10px 0;
		border-top: 1px solid lightgrey;

		&:last-child {
		border-bottom: 1px solid lightgrey;
		}

	}

}

.timestamp {
	color: #cecece;
}

.micropost form textarea {
	width: 100%;
	max-width: 100%;

}

h4.text {
	font-color: lightgrey;
	font-size: 16px;
}
